/*  reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clearfix */
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

*:after {
  display: block;
  clear: both;
}

element {
  zoom: 1;
}

element:after {
  content: "";
}

/* design */
body {
	background-color: #333;
	color: #0F3;
	width: 100%;
}

header hgroup h1 {
	font-size: 24px;
	margin-bottom: 3px;
	line-height: 1.5;
}

header hgroup h2 {
	font-size: 16px;
	line-height: 1.5;
}

header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #474747;
  /* Old browsers */
  background: -moz-linear-gradient(top, #474747 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #474747 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #474747 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #474747 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #474747 0%, black 100%);
  /* W3C */
}

nav ul li {
  display: inline;
}

nav li a {
	display: block;
	width: 23%;
	float: left;
	text-align: center;
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-right: 1%;
	margin-left: 1%;
	font-size: 16px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	color: #0F3;
}

nav li a:link,
nav li a:visited {
  background: #7c7c7c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7c7c7c 0%, #424242 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c7c7c), color-stop(100%, #424242));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7c7c7c 0%, #424242 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7c7c7c 0%, #424242 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #7c7c7c 0%, #424242 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c7c7c', endColorstr='#424242',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #7c7c7c 0%, #424242 100%);
  /* W3C */
}

nav li a:hover,
nav li a:active {
  background: #aaaaaa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #aaaaaa 0%, #636363 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(100%, #636363));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #aaaaaa 0%, #636363 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #aaaaaa 0%, #636363 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #aaaaaa 0%, #636363 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#636363',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #aaaaaa 0%, #636363 100%);
  /* W3C */
}

nav {
  padding: 10px 0;
}

article {
  clear: both;
  padding: 0 15px;
}

article section {
  background-color: #000;
  margin-bottom: 15px;
  padding: 15px 15px 5px 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

article section h1 {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

aside section {
  padding: 0 15px;
}

footer {
  text-align: center;
	padding:15px 0;
}

article section p {
  margin: 0 0 1.5em 0;
  line-height: 1.5;
  font-size: 13px;
}

aside section h1 {
  padding: 15px;
  display: block;
  background: #000;
  font-weight: bold;
  color: #fff;
}

aside section li a {
  padding: 12px;
  display: block;
  background: #474747;
  /* Old browsers */
  background: -moz-linear-gradient(top, #474747 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #474747), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #474747 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #474747 0%, black 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #474747 0%, black 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #474747 0%, black 100%);
  /* W3C */
  color: #fff;
  text-decoration: none;
}
